body {
  background: #F0FFFF;
  font-family: Arial, Helvetica, sans-serif;
  }
h1 {
  color: #000000;
  text-align: center;
}
.assign {
  display: flex;  
  padding: 10px;
  margin: 10px;
  background: #A9A9A9;
  border-radius: 20px;
}
.assign img {
  width: 200px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #49796b;
}
.assign img {
  padding: 10px;
  border: 2px dashed midnightblue;
}
a:hover {
  text-decoration: none;
  color: salmon;
}
